<mat-card class="article-form-container">
  <form action="javascript:void(0)" (submit)="onSubmit()" [formGroup]="articleFormGroup" >
    <mat-card-title>
      <mat-form-field appearance="standard">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" required />
        <mat-error *ngIf="!articleFormGroup.get('title').valid"></mat-error>
      </mat-form-field>
    </mat-card-title>
    <mat-card-content>
      <p>
        <mat-slide-toggle (change)="showPreview=$event.checked">Show Preview</mat-slide-toggle>
      </p>
      <mat-form-field appearance="outline">
        <mat-label>Content</mat-label>
        <textarea matInput formControlName="content" [hidden]="showPreview"></textarea>
        <article [hidden]="!showPreview">{{articleFormGroup.get('content').value}}</article>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Brief</mat-label>
        <textarea matInput class="small" formControlName="brief"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tags</mat-label>
        <input matInput formControlName="tags" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
      <div class="btn-container">
        <button mat-flat-button>Save Draft</button>
        <button mat-flat-button color="primary">Post</button>
      </div>
    </mat-card-footer>
  </form>
</mat-card>
